.backgroundImage {
  background-color: antiquewhite;
  height: 100vh;
}

#navbarNav {
  justify-content: center;
}

#navbar {
  overflow: hidden;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
